[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flask = "*"
dash = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
plotly = "*"
seaborn = "*"
scipy = "*"
geopandas = "*"
requests = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
